/* ----------- GENERAL ----------- */
html {
  height: 100%; }

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  min-height: 100%;
  margin: 0;
  letter-spacing: 0.5px;
  color: #4a4a4a; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300; }

h1 {
  margin-bottom: 35px;
  margin-top: 0;
  color: #fff;
  font-weight: 100;
  font-size: 1.75em;
  letter-spacing: 2px; }

b {
  font-size: 2.25em;
  margin: 0;
  vertical-align: top;
  letter-spacing: 2px;
  color: #EA2E49;
  font-weight: 200;
  font-family: 'Work Sans', sans-serif; }

h2 {
  font-size: 1.25em;
  font-weight: 200;
  margin: 20px 0 5px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #484A47;
  font-family: 'Work Sans', sans-serif; }

h3 {
  text-transform: uppercase;
  color: #f45b69;
  font-size: 1.5em;
  margin: 0 0 5px;
  text-align: center;
  letter-spacing: 2px; }

h4,
h5 {
  margin: 0;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #9b9b9b;
  text-align: center;
  font-size: 0.95em; }

h5 {
  font-size: 0.85em; }

p {
  color: #7a7a7a; }

a {
  text-decoration: none;
  color: #E6E8E6; }

svg {
  height: 0; }

button {
  font-family: 'Work Sans', sans-serif;
  background: none;
  border: none;
  margin: 0 15px;
  font-size: 1.25em; }

button.filter.active,
button:hover {
  color: #EA2E49;
  border-bottom: 1px solid #EA2E49;
  cursor: pointer; }

button:focus {
  outline: none; }

small {
  color: #A5A5A5;
  letter-spacing: 1px; }

/* ----------- ABOUT ----------- */
.about {
  width: 100%;
  padding: 50px 0 75px;
  background-color: #0C0C0C; }
  .about .bio {
    text-align: center; }
    .about .bio .text {
      vertical-align: top;
      width: 50%;
      margin: auto;
      text-align: center; }
  .about .me {
    display: block;
    margin: 0 auto 50px;
    border: #484A47 2px solid;
    border-radius: 50%;
    height: 150px; }
  .about h3,
  .about h4 {
    font-size: 1.2em;
    font-weight: 100;
    margin: 0;
    letter-spacing: 2.5px;
    color: #A5A5A5;
    text-transform: none; }
  .about h4 {
    margin-bottom: 30px;
    text-transform: none; }
    .about h4 i {
      margin-bottom: 0; }

.tip {
  font-size: 12px;
  font-weight: 300;
  color: #9b9b9b; }

/* ----------- PORTFOLIO ----------- */
.work {
  padding-top: 100px;
  text-align: center; }
  .work h1 {
    font-size: 2em;
    color: #1d2129;
    margin-bottom: 75px; }
  .work hr {
    width: 190px;
    border: 0;
    border-top: 1px solid #f45b69;
    margin: 25px auto 75px; }

.segment {
  width: 80%;
  margin: 40px auto; }
  .segment h4 {
    margin-bottom: 50px; }

.thumbnail {
  display: inline-block;
  width: 19.5%;
  margin: 0 2.5% 75px;
  text-align: center;
  vertical-align: top; }

@-webkit-keyframes trigger-img {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
@keyframes trigger-img {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px); }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
@-webkit-keyframes trigger-img-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
@keyframes trigger-img-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); } }
.trigger-img {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.trigger-img:hover,
.trigger-img:focus,
.trigger-img:active {
  -webkit-animation-name: trigger-img-float, trigger-img;
  animation-name: trigger-img-float, trigger-img;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate; }

.md-trigger img {
  max-width: 100%; }

.macbook {
  width: 50%;
  margin: auto; }

.slider-iphone {
  width: 15%;
  margin: auto; }

.project-details {
  margin: 50px 0;
  vertical-align: top; }

div:focus {
  outline: none; }

.projects {
  margin: 150px auto; }

/* ----------- MENU ----------- */
.menu {
  -webkit-filter: url("..#shadowed-goo");
  filter: url("..#shadowed-goo"); }

.menu-item,
.menu-open-button {
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
  height: 60px;
  margin-left: -40px;
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  text-align: center;
  color: white;
  border-radius: 100%;
  background: #EA2E49; }

.menu-open {
  display: none; }

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg); }

.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1); }

.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg); }

.menu {
  font-size: 20px;
  position: absolute;
  left: 50%;
  box-sizing: border-box;
  width: 650px;
  height: 100px;
  margin-left: -80px;
  padding-top: 20px;
  padding-left: 80px;
  text-align: left; }

.menu-item:hover {
  background: #fca17d; }

.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms; }

.menu-open-button {
  z-index: 2;
  cursor: pointer;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0); }

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0); }

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0); }

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }

.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 190ms;
  transition-duration: 190ms;
  -webkit-transform: translate3d(110px, 0, 0);
  transform: translate3d(110px, 0, 0); }

.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 290ms;
  transition-duration: 290ms;
  -webkit-transform: translate3d(220px, 0, 0);
  transform: translate3d(220px, 0, 0); }

.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 190ms;
  transition-duration: 190ms;
  -webkit-transform: translate3d(-110px, 0, 0);
  transform: translate3d(-110px, 0, 0); }

.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 290ms;
  transition-duration: 290ms;
  -webkit-transform: translate3d(-220px, 0, 0);
  transform: translate3d(-220px, 0, 0); }

.mobile-contact {
  display: none; }

/* ----------- MIX-UP ----------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  padding: 2% 2% 0;
  -webkit-backface-visibility: hidden;
  display: inline-block !important; }

.container:after {
  content: '';
  display: inline-block !important;
  width: 100%; }

.container .mix,
.container .gap {
  display: inline-block;
  width: 28%; }

.container .mix {
  margin-bottom: 2%;
  display: none;
  float: left; }

.container .mix:after {
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 4% 6%;
  font-weight: 700; }

.container .mix:before {
  content: '';
  display: inline-block; }

.controls {
  margin-top: -30px;
  margin-bottom: 75px; }

/* ----------- MODAL ----------- */
.md-trigger {
  cursor: pointer; }

.md-close {
  position: absolute;
  top: -30px;
  right: -25px;
  color: #484A47;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1.5em; }

.md-perspective,
.md-perspective body {
  overflow: hidden;
  height: 100%; }

.md-perspective body {
  background: #222222;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px; }

.md-modal {
  position: fixed;
  z-index: 2000;
  top: 50%;
  left: 50%;
  visibility: hidden;
  width: 95%;
  max-height: 95%;
  padding: 50px;
  overflow-y: scroll;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: #ffffff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; }

.md-show {
  visibility: visible; }

.md-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  background: rgba(29, 33, 41, 0.5); }

.md-show ~ .md-overlay {
  visibility: visible;
  opacity: 1; }

.md-content {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  text-align: center; }

.md-show.md-effect .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

/* ----------- RESPONSIVE ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .thumbnail {
    display: inline-block;
    width: 40%;
    margin: 4.5%; }

  .container .mix,
  .container .gap {
    width: 40%; }

  .about .bio .text {
    width: 80%; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
  .about {
    padding: 50px 0; }
    .about .bio {
      text-align: center;
      width: 90%;
      margin: auto; }
      .about .bio .text {
        width: 100%; }
    .about .me {
      display: block;
      margin: 0 auto 100px;
      height: 300px; }
    .about img {
      display: none; }
    .about h1,
    .about b {
      font-size: 1.5em;
      font-weight: 200; }
    .about h3 {
      font-size: 1.1em;
      font-weight: 200; }

  h2 {
    font-size: 2.5em; }

  h4 {
    font-size: 2em; }

  h5 {
    font-size: 1.75em; }

  .high-five {
    display: none; }

  .menu {
    display: none; }

  .mobile-contact {
    display: block; }
    .mobile-contact .fa {
      color: #EA2E49;
      margin: 50px 30px 0;
      font-size: 1.5em; }

  .thumbnail {
    display: block;
    width: 85%;
    margin: 0 auto 75px; }

  .container .mix,
  .container .gap {
    width: 80%; }

  button {
    font-size: 2em; } }

/*# sourceMappingURL=style.css.map */
